canvas {
	margin-left: 18px;
}

.bottom {
	margin-top: 5px;
	position: absolute;
    bottom: 0;
	font-size: 15px;
}

#extraData {
	margin-left: 10px;
	height: 600px;
	width: 300px;
}

#innerBox {
	margin-left: 22px;
	margin-top: 4px;
	height: 550px;
	width: 250px;
	position: relative;
}

#innerBox * {
	margin: 3px 3px 3px 3px;
}

canvas, #extraData {
	background-color: #FFFFFF;
	border: 1px solid black;
	float: left;
	margin-bottom: 5px;
	
}

body {
	background: linear-gradient(to bottom right, #BAE4F0, white);
	background-attachment:fixed;
}

footer {
	text-align: center;
}